/* Hobbies style */
@media screen and (min-width: 720px) {
    * {
        text-align: center;
        color: white;
        background-color: rgb(4, 17, 16);
        font-family: 'Work Sans', sans-serif;
    }
    .flex {
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: flex; 
        max-width: 1200px;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        margin: 0 auto;
    }
 

  .card {
    margin: 30px;
    padding: 0px 40px 40px;
    max-width: 500px;
    text-align: left;
    border-bottom: rgb(13, 53, 63) solid 4px;
    border-radius: 7px;
    transition: all .5s;
    display: table;
}
.card:hover {
    border-color: rgb(56, 192, 216);
    color: rgb(176, 198, 207);
}
header {
    display: flex;
    justify-content: space-between;
    margin: 5%;
}
ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li {
    width: 7rem;
    list-style-type: none;
    text-transform: uppercase;
  }
a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: rgb(243, 212, 212);
}
a:hover {
    text-decoration: none;
    color: rgb(16, 217, 231);
}
.title {
    font-size: 25px;
}
  
} 
